<header class="secondary">
	<div class="background-image-holder parallax-background overlay">
		<%= image_tag('bg-5.jpg', class: 'background-image', alt:'Background') %>
	</div>

	<div class="container align-vertical hero">
		<div class="row">
			<div class="col-md-5 text-left">
				<h1>Contact us</h1>
				<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
			</div>
		</div><!--end of row-->
	</div><!--end of container-->
</header>

<div class="map section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="map-wrapper">
					<div id="map" data-lat="40.7033127" data-long="-73.979681"></div>
					<a href="#" class="directions"><i class="fa fa-location-arrow"></i></a>
				</div>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</div>

<section class="contact-info no-padding-top">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3>Say Hello!</h3>
				<p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in orci bibendum, malesuada mauris non.</p>
				<p><strong>Phone:</strong> 1 888 356 763<br>
				<strong>Email:</strong> office@store.com	<br>
				<strong>Address:</strong> 10001, Main Str., New York</p>
			</div>
			<div class="col-md-8">
				<%= render 'form' %>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>